{% extends "::base.html.twig" %}
{% block stylesheets %}
    {{include("::/Admin/layout_stylesheets.html.twig")}}
{% endblock %}
{% block javascripts %}
    {{include("::/Admin/layout_javascripts.html.twig")}}
{% endblock javascripts %}
{% block html_id %}extr-page{% endblock %}
{% block body %}

<header id="header">

			<div id="logo-group">
				<span id="logo"> <img src="{{asset('smart-admin/img/logosalud.png')}}" alt="SALmacen"> </span>
			</div>

			

		</header>
<div id="main" class="" role="main">
    <div id="content" class="container">
        {% block content %}
        {% endblock %}
    </div>
</div>
<script src="{{asset('smart-admin/js/app.config.js')}}"></script>
<!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
<!-- Voice command : plugin -->

<!-- MAIN APP JS FILE -->
<script src="{{asset('smart-admin/js/app.min.js')}}"></script>
<script type="text/javascript">
			runAllForms();

			$(function() {
				// Validation
				$("#login-form").validate({
					// Rules for form validation
					rules : {
						email : {
							required : true,
							email : true
						},
						password : {
							required : true,
							minlength : 3,
							maxlength : 20
						}
					},

					// Messages for form validation
					messages : {
						email : {
							required : 'Please enter your email address',
							email : 'Please enter a VALID email address'
						},
						password : {
							required : 'Please enter your password'
						}
					},

					// Do not change code below
					errorPlacement : function(error, element) {
						error.insertAfter(element.parent());
					}
				});
			});
		</script>
{% endblock %}
    