{% extends '::/Admin/layout.html.twig' %}
{% block title_page %}
    <i class="fa fa-list fa-list "></i>
    Artículos de Salida <span>> Lista</span>
{% endblock %}

{% block items_breadcrumb %}
{% endblock %}

{% block content -%}
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="wid-id-0" class="jarviswidget" 
                     data-widget-deletebutton="true" data-widget-colorbutton="true" data-widget-editbutton="true">
                    <header>


                        <span class="widget-icon"> <i class="fa fa-file"></i> </span>
                        <h2>Folio de la Salida: <b>{{salida.folio}}</b> / 
                            <i class="fa fa-list fa-fw"></i> Programa {{salida.programa.nombre}}
                        </h2>

                    </header>

                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">

                        </div>
                        <div class="widget-body ">
                            <!-- Contenido -->
                            <div class="widget-header">                        
                                <!-- Botones de Accion -->
                                {% if editable %}
                                <button type="button" id="btn-agregar-entrada" class="btn btn-primary" data-toggle="tooltip" title="Agregar">
                                    <i class="fa fa-plus-circle fa-fw"></i> Agregar Entrada
                                </button>
                                {% endif %}
                                <button type="button" id="btn-consultar-salida" class="btn btn-default" data-toggle="tooltip" title="Consultar">
                                    <span class="glyphicon glyphicon-search"></span> 
                                    Datos de la Salida
                                </button>
                                
                                    <a href="{{ path('admin_salidas_pdf', {'id': salida.id}) }}" class="btn btn-default" data-toggle="tooltip" title="PDF">
                                       <i class="fa fa-file-pdf-o fa-fw"></i> Generar PDF
                                   </a>
                               

                                
                                <a href="{{ path('admin_entradas', {}) }}" class="btn btn-default" data-toggle="tooltip" title="Lista">
                                    <i class="fa fa-list fa-fw"></i> Lista de Salidas
                                </a>                                
                            </div>
                            <!-- Contenido -->
                            <table id="lista-detalles" class="table">
                                <thead>
                                    <tr>
                                        <th>Clave</th>
                                        <th>Nombre</th>
                                        <th class="text-right">Cantidad</th>
                                        <th class="text-right">Precio</th>
                                        <th class="text-right">Total</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for entity in entities %}
                                    <tr>
                                        <td>{{ entity.articuloClave }}</td>
                                        <td>{{ entity.articuloNombre }}</td>
                                        <td class="text-right">{{ entity.cantidad | number_format(0, '.', ',') }}</td>
                                        <td class="text-right">{{ entity.precio | number_format(2, '.', ',') }}</td>
                                        <td class="text-right">
                                            {{ (entity.cantidad * entity.precio) | number_format(2, '.', ',') }}
                                        </td>
                                        
                                        <td>
                                            <button type="button" detalle-id="{{entity.id}}" class="btn btn-xs btn-primary btn-editar-articulo" data-toggle="tooltip" title="Editar">
                                                <i class="fa fa-edit fa-fw"></i> 
                                            </button>     
                                                <button type="button" detalle-id="{{entity.id}}" class="btn btn-xs btn-default btn-consultar-detalle" data-toggle="tooltip" title="Consultar">
                                                    <span class="glyphicon glyphicon-search"></span> 
                                                    
                                                </button>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div id="contenedor-modales"></div>
                            <div id="contenedor-modal-popup-buscar-articulo"></div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

{% endblock %}
{% block javascript_page %}
 {{ include('::/Admin/SalidaDetalles/scripts_compartidos.html.twig') }}
{% endblock %}
