<div id="modal-buscar-entradaDetalles" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Busqueda de Entrada</h4>
            </div>
            <div class="modal-body">
                <table id="lista-entradaDetalles" width="100%" class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Existencia</th>
                            <th>Entrada</th>
                            <th>Clave Programa</th>
                            <th>Nombre Programa</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for entrada in entradas %}
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-primary btn-xs seleccionar-entradaDetalle"
                                        entrada-id="{{entrada.id}}" data-toggle="tooltip" title="Seleccionar">
                                        <span class="glyphicon glyphicon-ok-sign"></span>                                     
                                    </button>
                                </td>
                                <td>{{entrada.existencia}}</td>
                                <td>{{entrada.entrada.folio}}</td>
                                <td>{{entrada.entrada.programa.clave}}</td>
                                <td>{{entrada.entrada.programa.nombre}}</td>
                                <input type="hidden" class="hiddenEntrada" id="{{entrada.id}}">
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Cancelar
                </button>
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
    $('#modal-buscar-entradaDetalles').modal('show');
    dtEntradas = createDataTable('complete', 'lista-entradas');
</script>
{{include(acciones)}}