{% extends '::/Admin/layout.html.twig' %}
{% block title_page %}
    <i class="fa fa-edit fa-list "></i>
    Salidas <span>> Editar</span>
{% endblock %}
{% block content -%}
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="wid-id-0" class="jarviswidget" 
                     data-widget-deletebutton="true" data-widget-colorbutton="true" data-widget-editbutton="true">
                    <header>


                        <span class="widget-icon"> <i class="fa fa-plus-circle"></i> </span>
                        <h2>Editar</h2>

                    </header>

                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">

                        </div>
                        <div class="widget-body">
                            <!-- Contenido -->
                            <div class="widget-header">                        
                                <!-- Botones de Accion -->
                                <ul class="list-inline">
                                    <li>
                                        <a href="{{ path('admin_salidas', {}) }}" class="btn btn-primary">
                                            <i class="fa fa-list fa-fw"></i> Lista de Salidas
                                        </a>
                                    </li>
                                    <li>
                                        
                                        {% if entity.tipoEntrada == 1%}
                                             
                                            <a href="{{ path('admin_salidadetallesDirecta', {'id': entity.id}) }}" class="btn btn-default" data-toggle="tooltip" title="Lista">
                                               <i class="fa fa-list fa-fw"></i> Articulos
                                            </a>
                                         {% else %}
                                             <a href="{{ path('admin_salidadetalles', {'id': entity.id}) }}" class="btn btn-default" data-toggle="tooltip" title="Lista">
                                               <i class="fa fa-list fa-fw"></i> Articulos
                                            </a>
                                        {% endif %}    
                                        
                                    </li>
                                    <li>
                                         <a href="{{ path('admin_salidas_pdf', {'id': entity.id}) }}" class="btn btn-default" data-toggle="tooltip" title="PDF">
                                            <i class="fa fa-file-pdf-o fa-fw"></i> Generar PDF
                                        </a>
                                    </li>
                                    <li>{{ form(delete_form) }}</li>
                                </ul>
                            </div>
                            <!-- Contenido -->
                            {{ form(edit_form) }}
                            <div id="contenedor-modales">
                            
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
{% endblock %}
{% block javascript_page %}
    {{ include('::/Admin/Salidas/scripts_compartidos.html.twig') }}
    
{% endblock %}