<!-- Left panel : Navigation area -->
		<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

<!-- User info -->
    <div class="login-info">
        <span> <!-- User image size is adjusted inside CSS, it should stay as it --> 

            <a href="javascript:void(0);" id="show-shortcut" >
                <img alt="user" class="online" src="{{asset('img/avatar-man.jpg')}}">
                <span>{{app.user.nombreCompleto}}</span>
                <i class="fa fa-angle-down"></i>
            </a> 

        </span>
    </div>
        <!-- end user info -->

        <!-- NAVIGATION : This navigation is also responsive-->
    <nav>
            <ul>
                <li class="active">
                    <a href="{{ path('admin_homepage') }}" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Inicio</span></a>
                    
                </li>
                
                <li>
                    <a href="#"><i class="fa fa-lg fa-fw fa-file-text"></i> <span class="menu-item-parent"> Entradas</span></a>
                    <ul>              
                        <li><a href="{{ path('admin_entradas_new') }}"><i class="fa fa-plus-circle fa-fw"></i> Nueva</a></li>
                        <li><a href="{{ path('admin_entradas') }}"><i class="fa fa-list fa-fw"></i> Administración</a></li>
                        
                    </ul>
                </li>
                
                <li>
                    <a href="#"><i class="fa fa-lg fa-fw fa-file-text"></i> <span class="menu-item-parent"> Salidas</span></a>
                    <ul>              
                        <li><a href="{{ path('admin_salidas_new') }}"><i class="fa fa-plus-circle fa-fw"></i> Nueva</a></li>
                        <li><a href="{{ path('admin_salidas') }}"><i class="fa fa-list fa-fw"></i> Administración</a></li>
                        
                    </ul>
                </li>
                
                <li>
                    <a href="#"><i class="fa fa-lg fa-fw fa-list"></i> <span class="menu-item-parent"> Catálogos</span></a>
                    <ul>              
                        <li><a href="{{ path('admin_articulos') }}"><i class="fa fa-list fa-fw"></i> Artículos</a></li>
                        
                        
                    </ul>
                </li>
                
                <li>
                    <a href="#"><i class="fa fa-lg fa-fw fa-list"></i> <span class="menu-item-parent"> Reportes</span></a>
                    <ul>              
                        <li><a href="{{ path('admin_articulos') }}"><i class="fa fa-file-o fa-fw"></i> Kardex</a></li>
                        
                        
                    </ul>
                </li>
                
                
                <li>
                    <a href="#"><i class="fa fa-lg fa-fw fa-cogs"></i> <span class="menu-item-parent"> Administración</span></a>
                    <ul>              
                        <li><a href="{{ path('admin_almacenes') }}"><i class="fa fa-list fa-fw"></i> Almacenes</a></li>
                        <li><a href="{{ path('utilidades_parametros') }}"><i class="fa fa-cog fa-fw"></i> Parámetros</a></li>
                        <li><a href="{{ path('seguridad_usuarios') }}"><i class="fa fa-user fa-fw"></i> Usuarios</a></li>
                        <li><a href="{{ path('seguridad_grupos') }}"><i class="fa fa-group fa-fw"></i> Grupos</a></li>
                        <li><a href="{{ path('seguridad_roles') }}"><i class="fa fa-list fa-fw"></i> Roles</a></li>
                    </ul>
                </li>
                {#
                {% if is_granted('ROLE_CAPTURISTA') %}
                    <li>
                        <a href="#"><i class="fa fa-lg fa-fw fa-list"></i> <span class="menu-item-parent">Avales</span></a>
                        <ul>
                            {% if is_granted('ROLE_COORDINADOR') %}
                                <li><a  href="{{ path('admin_avales_nuevo') }}"><i class="fa fa-list fa-fw"></i>Nuevo</a></li>
                            {% endif %}
                            <li><a href="{{ path('admin_avales_lista') }}"><i class="fa fa-list fa-fw"></i>Administración</a></li>
                            <li><a href="{{ path('admin_monitoreos_lista_general') }}"><i class="fa fa-list fa-fw"></i>Monitoreos</a></li>
                        </ul>5
                    </li>
                {% endif %}
                <li>
                    <a href="#"><i class="fa fa-lg fa-fw fa-list"></i> <span class="menu-item-parent">Catalogos</span></a>
                    <ul>
                        <li><a href="{{ path('admin_ocupaciones') }}"><i class="fa fa-list fa-fw"></i> Ocupaciones</a></li>                                                        
                    </ul>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="#"><i class="fa fa-lg fa-fw fa-list"></i> <span class="menu-item-parent">Administración</span></a>
                        <ul>
                            <li><a href="{{ path('admin_usuarios_lista') }}"><i class="fa fa-user fa-fw"></i> Usuarios</a></li>
                            {% if is_granted('ROLE_SUPERADMIN') %}
                                <li><a href="{{ path('admin_grupos_lista') }}"><i class="fa fa-group fa-fw"></i></a></li>
                                <li><a href="{{ path('admin_roles_lista') }}">Roles</a></li>
                            {% endif %}
                            <li><a href="{{ path('admin_parametros_lista') }}">Parametros</a></li>
                        </ul>
                    </li>
                {% endif %}
                #}
                
            </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu"> 
            <i class="fa fa-arrow-circle-left hit"></i> 
    </span>

</aside>
		<!-- END NAVIGATION -->