{% extends '::/Admin/layout.html.twig' %}
{% block title_page %}
    <i class="fa fa-list fa-list "></i>
    Artículos de Entrada <span>> Lista</span>
{% endblock %}

{% block items_breadcrumb %}
{% endblock %}

{% block content -%}
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="wid-id-0" class="jarviswidget" 
                     data-widget-deletebutton="true" data-widget-colorbutton="true" data-widget-editbutton="true">
                    <header>


                        <span class="widget-icon"> <i class="fa fa-file"></i> </span>
                        <h2>Folio de la Entrada: <b>{{entrada.folio}}</b> / 
                            <i class="fa fa-list fa-fw"></i> Programa {{entrada.programa.nombre}}
                        </h2>

                    </header>

                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">

                        </div>
                        <div class="widget-body ">
                            <!-- Contenido -->
                            <div class="widget-header">                        
                                <!-- Botones de Accion -->
                                <button type="button" id="btn-agregar-articulo" class="btn btn-primary" data-toggle="tooltip" title="Agregar">
                                    <i class="fa fa-plus-circle fa-fw"></i> Agregar Artículo
                                </button>

                                <a href="{{ path('admin_entradas_edit', {'id': 1}) }}" class="btn btn-default" data-toggle="tooltip" title="Editar">
                                    <i class="fa fa-edit fa-fw"></i> Edición de Entrada
                                </a>
                                <a href="{{ path('admin_entradas', {}) }}" class="btn btn-default" data-toggle="tooltip" title="Lista">
                                    <i class="fa fa-list fa-fw"></i> Lista de Entradas
                                </a>                                
                            </div>
                            <!-- Contenido -->
                            <table id="lista-articulos" class="table">
                                <thead>
                                    <tr>
                                        <th>Clave</th>
                                        <th>Nombre</th>
                                        <th class="text-right">Cantidad</th>
                                        <th class="text-right">Precio</th>
                                        <th class="text-right">Total</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for entity in entities %}
                                    <tr>
                                        <td>{{ entity.articuloClave }}</td>
                                        <td>{{ entity.articuloNombre }}</td>
                                        <td class="text-right">{{ entity.cantidad | number_format(0, '.', ',') }}</td>
                                        <td class="text-right">{{ entity.precio | number_format(2, '.', ',') }}</td>
                                        <td class="text-right">
                                            {{ (entity.cantidad * entity.precio) | number_format(2, '.', ',') }}
                                        </td>
                                        
                                        <td>
                                            <button type="button" detalle-id="{{entity.id}}" class="btn btn-xs btn-primary btn-editar-articulo" data-toggle="tooltip" title="Editar">
                                                <i class="fa fa-edit fa-fw"></i> 
                                            </button>                                       
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div id="contenedor-modales"></div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

{% endblock %}
{% block javascript_page %}
    <script type="text/javascript">
        $(document).ready(function(){
            dtListaArticulos = createDataTable("minimal", "lista-articulos");
            //Inicio click agregar artículo
            $("#btn-agregar-articulo").click(function(){
                $.ajax({
                    url: "{{ path('admin_entradadetalles_new') }}",
                    type: 'GET',
                    dataType: "JSON",
                    //data: $("#form_type").serialize()+"&valor=10",
                    data: {
                        entradaId: "{{entrada.id}}"
                    },
                    success: function(data) {
                        if(data.code == 200) {
                            $('#contenedor-modales').html(data.html);

                        } else {
                            createAlert("danger", null, data.message)

                        }
                    },
                    error: function(request, text, error) {
                        //$("#loader").modal("hide");
                        createAlert("danger", null, "El servidor ha regresado el mensaje: "+text);

                    }
                });
            }); //Fin click agregar artículo
            
            //Inicio click editar artículo
            $("#lista-articulos").on("click", ".btn-editar-articulo", function(e){
                detalleId = parseInt($(this).attr("detalle-id"));
                rowDT = getDataRowDT(dtListaArticulos, $(this));
                
                $.ajax({
                    url: "{{ path('admin_entradadetalles_edit') }}",
                    type: 'GET',
                    dataType: "JSON",
                    //data: $("#people_type").serialize()+"&valor=10",
                    data: {
                        detalleId: detalleId
                    },
                    success: function(data) {
                        if(data.code == 200) {
                            $("#contenedor-modales").html(data.html);

                        } else {
                            createAlert("danger", null, data.message)

                        }
                    },
                    error: function(request, text, error) {
                        //$("#loader").modal("hide");
                        createAlert("danger", null, "El servidor ha regresado el mensaje: "+text);

                    }
                });
            }); //Fin click editar articulo
        });
    </script>
{% endblock %}
