{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ejercicios</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Numeroentradas</th>
                <td>{{ entity.numeroEntradas }}</td>
            </tr>
            <tr>
                <th>Numerosalidas</th>
                <td>{{ entity.numeroSalidas }}</td>
            </tr>
            <tr>
                <th>Iva</th>
                <td>{{ entity.iva }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{{ entity.activo }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechaactualizacion</th>
                <td>{{ entity.fechaActualizacion|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_ejercicios') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_ejercicios_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
